{% load compress %}
<!DOCTYPE html>
<html>
<head>
    <title>Xassr - {% block subtitle %}subtitle{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    {% compress css %}
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/xassr.less" rel="stylesheet">
        {% block css %}css{% endblock %}
        <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
    {% endcompress %}

</head>
<body>
{% include "common/header.html" %}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            {% include "common/sidebar.html" %}
        </div>
        <!--/span-->
        <div class="span9">
            {% block content %}{% endblock %}
        </div>
        <!--/span-->
    </div>
    <!--/row-->
    <hr>
    {% include "common/footer.html" %}
</div>
<!--/.fluid-container-->
{% compress js %}
    <script src="{{ STATIC_URL }}js/jquery-1.8.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
{% endcompress %}
</body>
</html>