<div class="navbar navbar-inverse navbar-fixed-top" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Xassr</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#friend">つながり</a></li>
                    <li><a href="#config">各種設定</a></li>
                    <li><a href="#channel">チャンネル</a></li>
                    <li><a href="#publictimeline">日本中のヒトコト</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
            <ul class="nav pull-right">
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.username }}</a>
                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="/accounts/signout/">Sign out</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url xassr.apps.accounts.views.signup %}">Sign up</a></li>
                    <li><a href="{% url django.contrib.auth.views.login %}">Sign in</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
